@import url(https://fonts.googleapis.com/css?family=Kite+One);
@import url(https://fonts.googleapis.com/css?family=Offside);

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: #000000;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.keys {
  display: none;
}

#spinner{
  width: 50%;
  height: 50%;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
}

#overlay{
height:100%;
width:100%;
background:rgb(0, 0, 0);
position:fixed;
left:0;
top:0;
}

#benvenuto {
  color: #ffffff;
  text-align: center;
}

#move {
  color: #ffffff;
  text-align: center;
}

#sfondo {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5)
}

#popup1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0)
}

#lightboxpopup1 {
  background-color: #ffffff8d;
  top: 30%;
  padding-bottom: 15px;
}

nav{
  height: auto;
  width: auto;
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  font: normal 1.2em Offside;
  background-color: #00000080;
}
li a{
  display: block;
}
a{
  text-decoration: none;
  color: rgb(36, 125, 39);
  transition: all linear .3s;
}
#bottoneChiudi {
  color: #000000;
}
#bottoneChiudi:hover {
  color: #ffffff;
  position: relative;
  cursor: pointer;
  text-shadow: rgb(101, 109, 100) 0px 1px 0px,
  rgb(51, 52, 51) 0px 2px 0px,
  rgba(0, 0, 0, 0.199219) 0px 3px 1px,
  rgba(0, 0, 0, 0.296875) 0px 4px 2px;
  transition: all linear .3s;
}

a:hover{
  color: #15ff00;
  position: relative;
  cursor: pointer;
  text-shadow: rgb(20, 60, 15) 0px 1px 0px,
  rgb(29, 166, 45) 0px 2px 0px,
  rgba(0, 0, 0, 0.199219) 0px 3px 1px,
  rgba(0, 0, 0, 0.296875) 0px 4px 2px;
  transition: all linear .3s;
}
li a:after{
  content: attr(data-title);
  padding: 4px 8px;
  line-height: 100%;
  color: #fff;
  position: absolute;
  left: 40%;
  top: 70%;
  white-space: nowrap;
  z-index: 20px;
  font-size: .7em;
  background: rgba(23, 172, 144, .8);
  opacity: 0;
  text-shadow: none;
}
li a:hover:after{
  opacity: 1;
  transition: all linear .5s .2s ;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li{
  width: 100%;
  text-align: center;
  line-height: 2.5em;
  float: left;
}
li:first-child{
  line-height: 60px;
  font-size: 1.5em;
  text-shadow: rgb(187, 187, 187) 0px 1px 0px,
  rgb(181, 181, 181) 0px 2px 0px,
  rgba(0, 0, 0, 0.199219) 0px 3px 1px,
  rgba(0, 0, 0, 0.296875) 0px 4px 3px;
}
li:first-child a:hover{
  -webkit-animation: anim infinite 1.5s;
}
@-webkit-keyframes anim{
  0%{-webkit-transform: rotate(4deg);}
  50%{-webkit-transform: rotate(-4deg);}
  100%{-webkit-transform: rotate(4deg);}
}